# [dbo].[Cuentas_Bancarias]

In [0]:
USE [sistema_bancario]
GO

In [0]:
/****** Object:  Table [dbo].[Cuentas_Bancarias]    Script Date: 6/06/2023 3:07:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas_Bancarias](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[numero_cuenta] [varchar](20) NULL,
	[saldo] [decimal](10, 2) NULL,
	[id_tipo_cuenta] [int] NULL,
	[id_users] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uc_numero_cuenta] UNIQUE NONCLUSTERED 
(
	[numero_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sec_apps]

In [0]:
/****** Object:  Table [dbo].[sec_apps]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_apps](
	[app_name] [varchar](128) NOT NULL,
	[app_type] [varchar](255) NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[app_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sec_groups]

In [0]:
/****** Object:  Table [dbo].[sec_groups]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_groups](
	[group_id] [int] NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sec_groups_apps]

In [0]:
/****** Object:  Table [dbo].[sec_groups_apps]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_groups_apps](
	[group_id] [int] NOT NULL,
	[app_name] [varchar](128) NOT NULL,
	[priv_access] [varchar](1) NULL,
	[priv_insert] [varchar](1) NULL,
	[priv_delete] [varchar](1) NULL,
	[priv_update] [varchar](1) NULL,
	[priv_export] [varchar](1) NULL,
	[priv_print] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[app_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sec_logged]

In [0]:
/****** Object:  Table [dbo].[sec_logged]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_logged](
	[login] [varchar](255) NOT NULL,
	[date_login] [varchar](128) NULL,
	[sc_session] [varchar](32) NULL,
	[ip] [varchar](32) NULL
) ON [PRIMARY]
GO

# [dbo].[sec_settings]

In [0]:
/****** Object:  Table [dbo].[sec_settings]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_settings](
	[set_name] [varchar](255) NOT NULL,
	[set_value] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[set_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sec_users]

In [0]:
/****** Object:  Table [dbo].[sec_users]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_users](
	[login] [varchar](255) NOT NULL,
	[pswd] [varchar](255) NOT NULL,
	[name] [varchar](64) NULL,
	[email] [varchar](64) NULL,
	[active] [varchar](1) NULL,
	[activation_code] [varchar](32) NULL,
	[priv_admin] [varchar](1) NULL,
	[mfa] [varchar](255) NULL,
	[picture] [image] NULL,
	[documento] [varchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_sec_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[sec_users_groups]

In [0]:
/****** Object:  Table [dbo].[sec_users_groups]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_users_groups](
	[login] [varchar](255) NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[login] ASC,
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tipo_Cuenta_Bancaria]

In [0]:
/****** Object:  Table [dbo].[Tipo_Cuenta_Bancaria]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Cuenta_Bancaria](
	[id_tipo_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tipo_Transaccion]

In [0]:
/****** Object:  Table [dbo].[Tipo_Transaccion]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Transaccion](
	[id_tipo_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_transaccion] [varchar](50) NULL,
	[descripcion_tipo_transaccion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Transacciones]

In [0]:
/****** Object:  Table [dbo].[Transacciones]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[id_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[monto] [bigint] NULL,
	[id_cuenta_origen] [int] NULL,
	[id_cuenta_destino] [int] NULL,
	[id_tipo_transaccion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[transacciones_fallidas]

In [0]:
/****** Object:  Table [dbo].[transacciones_fallidas]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones_fallidas](
	[fecha] [datetime] NULL,
	[tipo_error] [varchar](200) NULL,
	[cuenta_origen] [varchar](20) NULL,
	[cuenta_destino] [varchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[Usuarios]

In [0]:
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[documento] [varchar](50) NULL,
	[correo_electronico] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [FK__Cuentas_B__id_ti__5441852A]

In [0]:
ALTER TABLE [dbo].[Cuentas_Bancarias]  WITH CHECK ADD FOREIGN KEY([id_tipo_cuenta])
REFERENCES [dbo].[Tipo_Cuenta_Bancaria] ([id_tipo_cuenta])
GO

# [fk_sec_user_2]

In [0]:
ALTER TABLE [dbo].[Cuentas_Bancarias]  WITH CHECK ADD  CONSTRAINT [fk_sec_user_2] FOREIGN KEY([id_users])
REFERENCES [dbo].[sec_users] ([id])
GO
ALTER TABLE [dbo].[Cuentas_Bancarias] CHECK CONSTRAINT [fk_sec_user_2]
GO

# [FK__Transacci__id_cu__4222D4EF]

In [0]:
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD FOREIGN KEY([id_cuenta_origen])
REFERENCES [dbo].[Cuentas_Bancarias] ([id_cuenta])
GO

# [FK__Transacci__id_cu__4316F928]

In [0]:
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD FOREIGN KEY([id_cuenta_destino])
REFERENCES [dbo].[Cuentas_Bancarias] ([id_cuenta])
GO

# [FK__Transacci__id_ti__45F365D3]

In [0]:
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD FOREIGN KEY([id_tipo_transaccion])
REFERENCES [dbo].[Tipo_Transaccion] ([id_tipo_transaccion])
GO

# [dbo].[depositar]

In [0]:
/****** Object:  StoredProcedure [dbo].[depositar]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[depositar](@id_cuenta_origen varchar(20), @monto bigint, @id_origen int, @id_tipo int)
AS
DECLARE @error_message NVARCHAR(4000), @error_number INT;
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar que la cuenta exista
        IF EXISTS (SELECT 1 FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_origen) 
        BEGIN
            -- Sumar el monto a la cuenta de origen
            UPDATE Cuentas_Bancarias
            SET Saldo = Saldo + @monto
            WHERE Numero_Cuenta = @id_cuenta_origen;

            -- Insertar en la tabla Transacciones
            INSERT INTO Transacciones (fecha, monto, id_cuenta_origen, id_tipo_transaccion)
            VALUES (GETDATE(), @monto, @id_origen, @id_tipo);

            COMMIT;
        END
        ELSE
        BEGIN
            -- La cuenta no existe
            THROW 50001, 'La cuenta no existe.', 1;
        END;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        -- Registrar la transacción fallida en la tabla Transacciones_Fallidas
        INSERT INTO transacciones_fallidas (fecha, tipo_error, cuenta_origen) 
        VALUES (GETDATE(), ERROR_MESSAGE(), @id_cuenta_origen);

        -- Mostrar el error 
        SET @error_message = ERROR_MESSAGE();
        SET @error_number = ERROR_NUMBER();
    END CATCH;

    SELECT @error_message, @error_number;
END;
GO

# [dbo].[retirar]

In [0]:
/****** Object:  StoredProcedure [dbo].[retirar]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[retirar](@id_cuenta_origen varchar(20), @monto bigint, @id_origen int, 
 @id_tipo int)
as
DECLARE @error_message NVARCHAR(4000), @error_number INT;
BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            -- Verificar que los usuarios existan
            IF EXISTS (SELECT 1 FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_origen) 
              
            BEGIN
                -- Verificar que el saldo sea mayor o igual al monto enviado
                IF (SELECT saldo FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_origen) >= @monto
                BEGIN
                    -- Restar el monto de la cuenta de origen
                    UPDATE Cuentas_Bancarias
                    SET Saldo = Saldo - @monto
                    WHERE Numero_Cuenta = @id_cuenta_origen;

                

                    -- Insertar en la tabla Transacciones
                    INSERT INTO Transacciones (fecha, monto, id_cuenta_origen, id_tipo_transaccion)
                    VALUES (GETDATE(), @monto, @id_origen,@id_tipo);

                    COMMIT;
                END
                ELSE
                BEGIN
                    -- El saldo es insuficiente
                    THROW 50001, 'El saldo de la cuenta de origen es insuficiente.', 1;
                END;
            END
            ELSE
            BEGIN
                -- Uno o ambos usuarios no existen
                THROW 50002, 'Uno o ambos usuarios no existen.', 1;
            END;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK;

            -- Registrar la transacción fallida en la tabla Transacciones_Fallidas
			
            INSERT INTO transacciones_fallidas (fecha, tipo_error, cuenta_origen) 
            VALUES (GETDATE(), ERROR_MESSAGE(), @id_cuenta_origen);

			--mostrar el error 
             SET @error_message = ERROR_MESSAGE();
   			 SET @error_number = ERROR_NUMBER();
            
        END CATCH;
    END;

	select @error_message,@error_number;

	
GO

# [dbo].[transferencia]

In [0]:
/****** Object:  StoredProcedure [dbo].[transferencia]    Script Date: 6/06/2023 3:07:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[transferencia](@id_cuenta_origen varchar(20), @id_cuenta_destino varchar(20), @monto bigint, @id_origen int, 
@id_destino int, @id_tipo int)
as
DECLARE @error_message NVARCHAR(4000), @error_number INT;
	BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            -- Verificar que los usuarios existan
            IF EXISTS (SELECT 1 FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_origen) 
                AND EXISTS (SELECT 1 FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_destino)
            BEGIN
                -- Verificar que el saldo sea mayor o igual al monto enviado
                IF (SELECT saldo FROM Cuentas_Bancarias WHERE Numero_Cuenta = @id_cuenta_origen) >= @monto
                BEGIN
                    -- Restar el monto de la cuenta de origen
                    UPDATE Cuentas_Bancarias
                    SET Saldo = Saldo - @monto
                    WHERE Numero_Cuenta = @id_cuenta_origen;

                    -- Sumar el monto a la cuenta de destino
                    UPDATE Cuentas_Bancarias
                    SET Saldo = Saldo + @monto
                    WHERE Numero_Cuenta = @id_cuenta_destino;

                    -- Insertar en la tabla Transacciones
                    INSERT INTO Transacciones (fecha, monto, id_cuenta_origen, id_cuenta_destino, id_tipo_transaccion)
                    VALUES (GETDATE(), @monto, @id_origen, @id_destino, @id_tipo);

                    COMMIT;
                END
                ELSE
                BEGIN
                    -- El saldo es insuficiente
                    THROW 50001, 'El saldo de la cuenta de origen es insuficiente.', 1;
                END;
            END
            ELSE
            BEGIN
                -- Uno o ambos usuarios no existen
                THROW 50002, 'Uno o ambos usuarios no existen.', 1;
            END;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK;

            -- Registrar la transacción fallida en la tabla Transacciones_Fallidas
            INSERT INTO transacciones_fallidas (fecha, tipo_error, cuenta_origen, cuenta_destino) 
            VALUES (GETDATE(), ERROR_MESSAGE(), @id_cuenta_origen, @id_cuenta_destino);

            -- Manejar el error como desees
            -- Puedes mostrar un mensaje, registrar el error en una tabla de registro, etc.
            
			 SET @error_message = ERROR_MESSAGE();
   			 SET @error_number = ERROR_NUMBER();
        END CATCH;
    END;  
	
	select @error_message,@error_number;
GO